<template>
<div><router-view></router-view></div>
  
</template>

<script>
import cadastro from './components/cadastro.vue';
import cadastrofabricante from './components/cadastrofabricante.vue';


export default{
   components: {
    cadastro,
    cadastrofabricante
  }
}


</script>

<style>

</style>