<template>
  <div id="app">
    <nav class="navbar navbar-light" style="background-color: #fff;">
      <img
        src="https://www.hepta.com.br/o/tema-modelo-theme/images/horizontal-hepta.png"
        class="img-logo"
        alt="logo hepta"
      />

      <ul class="form-inline my-2 my-lg-0">
        <li class="form-inline my-2 my-lg-4">
          <router-link to="/">Cadastro de Produto</router-link>
        </li>
        <li>
          <router-link to="/cadastrofabricante">Cadastro de Fabricante</router-link>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <form @submit.prevent="salvar">
            <h3>Adicionar Produto:</h3>
            <div class="form-row col-md-8">
              <label for="nome">Nome do Produto:</label>
              <input
                class="form-control"
                id="nome"
                type="text"
                placeholder="Nome do Produto"
                v-model="produto.nome"
              />
            </div>
            <div class="form-row col-md-8">
              <label for="fabricante">Fabricante:</label>
              <select
                name="fabricante"
                type="text"
                id
                class="form-control"
                v-model="produto.fabricante.id" 
              >
                Fabricante:
                <option v-for="fabricante in fabricantes" :key="fabricante.id">{{fabricante.id}}</option>
              </select>
              {{fabricantes.id}}
            </div>

              <div class="form-row col-md-8">
              <span></span>
            </div>


            <div class="form-row col-md-8">
              <label for="volume">Volume:</label>
              <input type="number" id="volume" class="form-control" v-model="produto.volume" />
            </div>
            <div class="form-row col-md-8">
              <label for="unidade">Unidade:</label>
              <input type="text" id="volume" class="form-control" v-model="produto.unidade" />
            </div>
            <div class="form-row col-md-8">
              <label for="unidade">Estoque:</label>
              <input type="number" id="volume" class="form-control" v-model="produto.estoque" />
            </div>
            <br />
            <div class="form-row col-md-12">
              <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
          </form>
        </div>
        <div class="col-md-8">
          <h3 class="lista">Lista de Produtos:</h3>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Fabricante</th>
                <th scope="col">Volume</th>
                <th scope="col">Unidade</th>
                <th scope="col">Estoque</th>
              </tr>
            </thead>
            <tbody>
              <tr></tr>
              <tr v-for="produto of produtos" :key="produto.id">
                <td>{{produto.id}}</td>
                <td>{{maisculo(produto.nome)}}</td>
                <td>{{produto.fabricante.nome}}</td>
                <td>{{produto.volume}}</td>
                <td>{{maisculo(produto.unidade)}}</td>
                <td>{{produto.estoque}}</td>
                <button @click="remover(produto)" class="btn btn-secondary">Deletar</button>
                <button @click="editar(produto)" class="btn btn-secondary">Editar</button>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import "bootstrap/dist/css/bootstrap.css";
import Produto from "../services/produtos";
import Fabricante from "../services/fabricantes";
import axios from "axios";

export default {
  

   created() {
    this.listarFabricantes();
  },
  data() {
    return {
      produto: {
        id: "",
        nome: "",
        fabricante: {
          id: '',
          nome: ""
         
        },
        volume: "",
        unidade: "",
        estoque: ""
      },

      fabricantes: [],
      produtos: [],



    };
  },

  methods: {
    listar() {
      Produto.listar().then(resposta => {
        this.produtos = resposta.data;
      });
    },

    listarFabricantes() {
      Fabricante.listar().then(resposta => {
        this.fabricantes = resposta.data;
  
      });
    },

    listarIdFabricante(){
      Fabricante.listar().then(resposta => {
        this.fabricantes = resposta.fabricantes;
        
        
      })
    },

    maisculo(text) {
      var words = text.toLowerCase().split(" ");
      for (var a = 0; a < words.length; a++) {
        var w = words[a];
        words[a] = w[0].toUpperCase() + w.slice(1);
      }
      return words.join(" ");
    },


    salvar() {
      if(!this.produto.id){
        Produto.salvar(this.produto).then(resposta => {
        
        this.produto = {};
        alert("Produto salvo com sucesso!");
        this.listar();
        this.errors = []
      }).catch(e => {
        this.errors = e.response.data.errors
      })} else {
         Produto.atualizar(this.produto).then(resposta => {
        alert("Atualizado com sucesso!");
        this.produto = {};
        this.listar();
        this.errors = []
      }).catch(e => {
        this.errors = e.response.data.errors
      })
    }
    },

    editar(produto){
      this.produto = produto
    },

    remover(produto) {
      if (confirm("Deseja excluir este produto?")) {
        Produto.apagar(produto)
          .then(resposta => {
            this.listar();
            this.errors = [];
          })
          .catch(e => {
            this.errors = e.response.data.errors;
          });
      }
    },
   

   


  },
  mounted() {
    
    this.listar();
    this.listarFabricantes();  
  },

  

 
};
</script>

<style>
td {
  padding: 40px;
  
  
}

h3 {
  margin-bottom: 30px;
  letter-spacing: 1px;
  font-family: "Roboto";
  

}

label {
  letter-spacing: 1px;
  font-family: "Roboto";
}

body {
  background-color: rgb(236, 240, 243);
}

.img-logo {
  width: 10%;
}

.border {
  padding: 30px;
}

ul,
td,
th,
li {
  color: #5e5e5e;
  margin: 30px;
  font-size: 100%;
  font: inherit;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 1px;
  font-family: "Roboto";
  list-style-type: none;
}

.container-fluid {
  display: block;
  margin: 30px;
}

.border {
  padding: 30px;
}

th,
td,
tr {
  text-align: center;
}

th {
  font-size: 50px;
}

.lista {
  text-align: center;
  font-size: 40px;
}

thead {
  font-size: 35px;
}

form {
  border: 1px solid;
  text-align: center;
  align-content: center;
  padding: 20px;
  background-color: white;
}

input {
  margin: auto;
}

label {
  font-family: "Montserrat", "arial";
  font-size: 16px;
  color: rgb(34, 35, 37);
  line-height: 2em;
}

table {
  background-color: aliceblue;
}

button {
  margin: 5px;
}
</style>
