<template id="cadastro-fabricante">
  <div>
    <head><link rel="shortcut icon" href="favicon.ico"></head>
    <nav class="navbar navbar-light" style="background-color: #fff;">
      <img
        src="https://www.hepta.com.br/o/tema-modelo-theme/images/horizontal-hepta.png"
        class="img-logo"
        alt="logo hepta"
      />

      <ul class="form-inline my-2 my-lg-0">
        <li class="form-inline my-2 my-lg-4">
          <router-link to='/'>Cadastro de Produto</router-link>
        </li>
        <li>
         <router-link to='/cadastrofabricante'>Cadastro de Fabricante</router-link>
        </li>
       
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <form @submit.prevent="salvar">
            <h3>Adicionar Fabricante:</h3>
            <div class="form-row col-md-8">
              <label for="nome">Nome do Fabricante:</label>
              <input
                class="form-control"
                id="nome"
                type="text"
                placeholder="Nome do Produto"
                v-model="fabricante.nome"
              />
            </div>
           <br>
            <div class="form-row col-md-12">
              <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
          </form>
        </div>
        <div class="col-md-8">
          <h3 class="lista">Lista de Fabricantes:</h3>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Opções</th>
                
              </tr>
            </thead>
            <tbody>
              <tr></tr>
              <tr v-for="fabricante of fabricantes" :key="fabricante.id">
                <td>{{fabricante.id}}</td>
                <td>{{fabricante.nome}}</td>
                
                <button @click="remover(fabricante)">Deletar</button>
                <button>Editar</button>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import "bootstrap/dist/css/bootstrap.css";
import Fabricante from "../services/fabricantes";
import axios from "axios";

export default {
  data() {
    return {
      fabricante: {
        id: "",
        nome: ""
      },

      fabricantes: []
    };
  },

  methods: {
    listar() {
      Fabricante.listar().then(resposta => {
        this.fabricantes = resposta.data;
      });
    },

    maisculo(text) {
      var words = text.toLowerCase().split(" ");
      for (var a = 0; a < words.length; a++) {
        var w = words[a];
        words[a] = w[0].toUpperCase() + w.slice(1);
      }
      return words.join(" ");
    },

    salvar() {
      Fabricante.salvar(this.fabricante).then(resposta => {
        this.fabricante = {};
        this.listar();
      });
    },

    remover(fabricante) {
      if (confirm("Deseja excluir este fabricante?")) {
        Fabricante.apagar(fabricante)
          .then(resposta => {
            this.listar();
            this.errors = [];
          })
          .catch(e => {
            this.errors = e.response.data.errors;
          });
      }
    }
  },
  mounted() {
    this.listar();
  }
};
</script>

<style>
td {
  padding: 40px;
}

h3 {
  margin-bottom: 30px;
}

body {
  background-color: rgb(236, 240, 243);
}

.img-logo {
  width: 10%;
}

.border {
  padding: 30px;
}

ul,
li,
td,
th {
  color: #5e5e5e;
  margin: 30px;
  font-size: 100%;
  font: inherit;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 1px;
  font-family: "Roboto";
  list-style-type: none;
}

.container-fluid {
  display: block;
  margin: 30px;
}

.border {
  padding: 30px;
}

th,
td,
tr {
  text-align: center;
}

.lista {
  text-align: center;
  font-size: 40px;
}

thead {
  font-size: 35px;
}

form {
  border: 1px solid;
  text-align: center;
  align-content: center;
  padding: 20px;
  background-color: white;
}

input {
  margin: auto;
}

label {
  font-family: "Montserrat", "arial";
  font-size: 16px;
  color: rgb(34, 35, 37);
  line-height: 2em;
}
</style>